@import url('https://fonts.googleapis.com/css?family=Montserrat:700');
body {
  background-color: #ffd0cc;
  color: #ff0000;
}
a {
  text-decoration: underline;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  position: absolute;
  top: 2%;
  left: 50%;
  color: #ff0000;
  transform: translate(-50%, -50%);
}
.quadrato{
  height: 50px;
  width: 50px;
  position: absolute;
}
.sinistra {
  left: 0%;
}
.alto {
  top: 0%;
}
.destra {
  right: 0%;
}
.basso {
  bottom: 0%;
}
#q1 {
  background-color: #ff0000;
}
#q3 {
  background-color: white;
}
#q2 {
  background-color: #ff8080;
}
#q4 {
  background-color: #ff0055;
}
.center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.oscilla {
  animation: oscillazione 5s linear infinite;
}
@keyframes oscillazione {
  from{left: 50%;}
  25%{left: 25%;}
  50%{left: 50%;}
  75%{left: 75%;}
  100%{left: 50%;}
}
