body {
    background-color: grey;
    color: white;
}
h1 {
  width: 659.5px;
  font-size: 6em;
  font-weight: normal;
  margin: 0 auto 20px;
  text-align: center;
  letter-spacing: .05em;
  font-family: 'Neuzeit Grotesk Bold', sans-serif;
  border-bottom-width: thin;
  border-bottom-style: solid;
  border-bottom-color: white;
}
h2 {
  font-size: 1em;
  max-width: 600px;
  font-weight: normal;
  margin: 0 auto 20px;
  text-align: center;
  letter-spacing: .05em;
  font-family: 'Neuzeit Grotesk Bold', sans-serif
}
p {
  font-size: 1em;
  font-family: 'RomainText-Regular', serif;
  text-align: center;
}
