@import url('https://fonts.googleapis.com/css?family=Montserrat:700');
body {
    background-color: #ffd0cc;
    color: #ff0000;
}
a {
  text-decoration: underline;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  position: absolute;
  top: 2%;
  left: 2%;
  color: #ff0000;
}

#ball1, #ball2, #ball3 {
  border: 10px solid #ff0000;
  background-color: #ff0000;
  border-radius: 50%;
  opacity: 35%;
  width: 60px;
  height: 60px;
  position: absolute;
  top: 50%;
  left: 46.89%;
}
#ball2 {
  animation: move2 2s infinite alternate;
}
#ball3 {
  animation: move3 2s infinite alternate;
}
@keyframes move2 {
  100% {transform: translate(-100px,0px);}
}

@keyframes move3 {
  100% {transform: translate(100px,0px);}
}
