@import url('https://fonts.googleapis.com/css?family=Harmattan');
body {
    background-color: #ffd0cc;
    color: #ff0000;
}
h1 {
  font-size: 2em;
  max-width: 600px;
  font-weight: normal;
  margin: 0 auto 20px;
  text-align: center;
  font-family: 'Harmattan', sans-serif;
}
#ball1, #ball2, #ball3 {
  border: 10px solid #ff0000;
  background-color: #ff0000;
  border-radius: 50%;
  opacity: 35%;
  width: 60px;
  height: 60px;
  position: absolute;
  top: 50%;
  left: 46.89%;
}
#ball2 {
  animation: move2 2s infinite alternate;
}
#ball3 {
  animation: move3 2s infinite alternate;
}
@keyframes move2 {
  100% {transform: translate(-100px,0px);}
}

@keyframes move3 {
  100% {transform: translate(100px,0px);}
}
