@import url('https://fonts.googleapis.com/css?family=Italiana', 'https://fonts.googleapis.com/css?family=Harmattan', 'https://fonts.googleapis.com/css?family=Source+Sans+Pro:300');
body {
    background-color: #ffd0cc;
    color: #ff0000;
}
img {
  position: relative;
  top: 10px;
  left: 22px;
}
h2 {
  font-size: 1em;
  max-width: 600px;
  font-weight: normal;
  margin: 0 auto 20px;
  text-align: center;
  font-family: "Harmattan", sans-serif;
}
p {
  font-size: 1em;
  font-family: "Source Sans Pro", sans-serif;
  text-align: center;
}
ul {
    list-style-type: none;
    margin: 23px;
    padding: 0;
    overflow: hidden;
    background-color: #ffd0cc;
    border-top: 1px solid #ff0000;
}
li {
    float: right;
}
li a {
    display: block;
    color: #ff0000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: "Harmattan", sans-serif;
    transition: 1s;
    transition-timing-function: ease-in-out;
}
li a:hover {
    font-weight: bold;
    transition: 1s;
}
